{% extends 'layout/base.html' %}

{% load static widget_tweaks %}

{% block additional_css %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block content %}



<!-- MAIN USUARIOS -->




    <div class="row">
        <div class="row page-titles">
            <ol class="breadcrumb">        
                <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">Inicio</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dashboard:usuarios' %}">Usuarios</a></li>
            </ol>
        </div>
       
        
        <div class="col-xl-12">            
            <div class="card students-list">
                <div class="card-header">
                    <h3 class="card-title">Crear Usuario</h3>        
                </div>

                <form  method="post" enctype="multipart/form-data" novalidate autocomplete="off">
                    {% csrf_token %}
                    <div class="modal-body mx-5">
                        <div class="pt-1 pb-4">
                            <div class="formcontrol">                                         
                                <div class="form-floating mb-3">


                                    <div class="row">
                                        <div class="my-2 col-6">

                                            <div class="form-group">
                                                
                                                {{adduser.nombre}}
                                            </div>
                                        </div>

                                        <div class="my-2 col-6 ">

                                            <div class="form-group">
                                                {{adduser.apellido}}
                                            </div>
                                    
                                        </div>  
                                    </div>

                                        
                                        




                                            <div class="row">
                                       
                                                <div class="my-4 col-10">
        
                                                    <p>Elije una alarma Vecinal...</p>                 
                                                            <select id="alarma_vecinal" class="form-control" >

                                                                {% for s in alarmas %}

                                                                    <option value="{{s.id}}"> {{s}}</option>

                                                                {%endfor%}
                                                            </select>
                                                </div>  
        
        
                                                <div class="my-4 col-2">
        
                                                    <a class="btn btn-primary py-4 mt-4" href="{% url 'dashboard:barrioadd' %}">
                                                        <i class="fa fa-plus me-2"></i><i class="fa-solid fa-broadcast-tower"></i></a>
        
                                                </div>    
                                            </div>

                                    <div class="row">
                                       
                                        <div class="my-4 col-10">

                                            <p>Elije una vivienda...</p>                 
                                            <select id="vivienda" class="form-control" name="vivienda">

                                                {% for s in viviendas %}

                                                    <option id="{{s.alarma_vecinal.id}}" value="{{s.id}}"> {{s}}</option>

                                                {%endfor%}
                                            </select>
                                        </div>  


                                        <div class="my-4 col-2">

                                            <a class="btn btn-primary py-4 mt-4" href="{% url 'dashboard:viviendaadd' %}">
                                                <i class="fa fa-plus me-2"></i><i class="fa-solid fa-house"></i></a>

                                        </div>    
                                    </div>


                                    <div class="row">

                                        <div class="my-2 col-6">

                                            <div class="form-group">
                                                
                                                {{adduser.genero}}
                                            </div>
                                        </div>

                                        <div class="my-2 col-6 ">

                                            <div class="form-group">
                                                {{adduser.fecha_de_nacimiento}}
                                            </div>
                                    
                                        </div>  
                                    </div>

                                    <div class="row">

                                        <div class="my-2 col-6">

                                            <div class="form-group">
                                                {{adduser.email}}
                                                <div class="text-danger w-100 d-block mt-1">
                                                    {{ adduser.email.errors }}
                                                    </div>
                                            </div>
                                        </div>

                                        <div class="my-2 col-6 ">

                                            <div class="form-group">
                                                {{adduser.telefono}}

                                            </div>
                                    
                                        </div>  
                                    </div>
                                    


                                    <div class="row">

                                        <div class="my-2 col-6">

                                            <div class="form-group">
                                                
                                                {{adduser.nota}}
                                            </div>
                                        </div>

                                        <div class="my-2 col-6 ">

                                            <div class="form-group">
                                                <div class="avatar-upload">
                                                    <div class="avatar-edit">
                                                        {{ adduser.avatar|attr:"type:file" }}
                                                        <label for="id_avatar"><i class="fas fa-pencil-alt"></i></label>
                                                    </div>
        
                                                    <div class="avatar-preview">
                                                    {% if adduser.instance.avatar %}
                                                    <div id="imagePreview" style="background-image: url('{{ adduser.instance.avatar.url }}');">
                                                    {% else %}
                                                    <div id="imagePreview">
                                                    {% endif %}                                            
                                                    </div>
        
                                                </div>
                                            </div>
                                    
                                        </div>  
                                    </div>

                                    <div class="form-floating my-3 text-left">
                                        <button type="submit" class=" fs-3 shadow-sm btn btn-secondary" name="user"><i class="fa fa-plus me-2 fs-3 me-3"></i> Agregar </button>
                                    </div>

                                </div>
                            </div>                                 
                        </div>
                       
                    </div>

                </form>

            </div>
        </div>
    </div>
<!-- end MAIN usuarios -->

{% endblock %}


{% block additional_js %}




<script>
    function readURL(input) {
 
       if (input.files && input.files[0]) {
             var reader = new FileReader();
             reader.onload = function(e) {
                $('#imagePreview').css('background-image', 'url('+e.target.result +')');
                $('#imagePreview').hide();
                $('#imagePreview').fadeIn(650);
             }
             reader.readAsDataURL(input.files[0]);
       }
    }
    $("#id_avatar").change(function() {
       readURL(this);
    });
 </script> 


 <script>             
    var $viviendaSelect = $('#vivienda');
    var $alarma = $('#alarma_vecinal');
    $alarma.on('change', filterServices);

    function filterServices() {
        var alarmaId = $('#alarma_vecinal').val();
        
        $viviendaSelect.find('option').each(function() {
            var $viviendaOption = $(this);
            
            if ($viviendaOption.attr('id') === alarmaId) {
                $viviendaOption.show();
            } else {
                $viviendaOption.hide();
            }
        });
        
        $viviendaSelect.val($viviendaSelect.find('option:visible:first').val());
    }
</script>



{% endblock %}