{% extends 'layout/base.html' %}

{% load static widget_tweaks %}

{% block additional_css %}
{% endblock %}

{% block content %}

<!-- modal delete usuario -->
<div class="modal" id="deleteusuario{{usuario.id}}">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center py-5">
                <h4 class="fs-2 my-2">Deleting {{usuario.get_nombre_completo}} permanently...</h4>
                <h4 class="fs-2 my-2">¿Are you sure?</h4>

                <div class="form-floating mt-5">
                    <a href="./" class="btn fs-7 mx-2">
                        <i class="fa-solid fa-arrow-left me-2 fs-7"></i> Nop, go back.
                    </a>
                    <a href="{% url 'dashboard:usuariodelete' pk=usuario.id %}" class="shadow-sm btn btn-danger fs-6 p-3">
                        <i class="fa-regular fa-trash-can fs-5 me-1"></i> Yes!
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- MAIN -->


        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard:barrio' pk=usuario.vivienda.alarma_vecinal.id %}">{{usuario.vivienda.alarma_vecinal}}</a></li>

                <li class="breadcrumb-item"><a href="{% url 'dashboard:vivienda' pk=usuario.vivienda.id %}">{{usuario.vivienda.get_direccion}}</a></li>
                <li class="breadcrumb-item active"><a> {{usuario.nombre}} {{usuario.apellido}}</a> </li>
            </ol>
        </div>
       
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{usuario.nombre}} {{usuario.apellido}}</h3>

                        <div class="form-floating pt-4 my-3 d-flex flex-row-reverse">


                            <!-- map BUTTON -->
                            <a href="{{usuario.vivienda.get_map}}" class="shadow-sm btn btn-info px-3 mx-1">Ver ubicación<span class="btn-icon-end"><i class="fa-solid fa-location-dot fs-7"></i></span>
                            </a>  

                            <!-- delete BUTTON -->
             
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteusuario{{usuario.id}}">Borrar usuario<span class="btn-icon-end">
                                <i class="fa-solid fa-trash fs-7"></i></span></button>

                        </div>
                                              
                    </div>
                    
                    <div class="card-body">

                        <div class="default-tab">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-bs-toggle="tab" href="#home"><i class="la la-user me-2"></i> INFORMACIÓN</a>
                                </li>
                                
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#contact"><i class="las la-comment-dollar me-2"></i>...</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="home" role="tabpanel">
                                    <div class="pt-4">
                                        <div class="basic-form">
                                            <form  method="post" enctype="multipart/form-data" novalidate autocomplete="off">
                                                {% csrf_token %}
                                                    <div class="pt-1 pb-4">
                                                        <div class="formcontrol">         

                                                            <div class="form-floating mb-3">

                                                                
                                                                <input type="hidden" name="vivienda" value="{{ usuario.vivienda.id }}">
                                                                
                                                                <div class="row">

                                                                    <div class="mb-3 col-6">
                                                                        <div class="form-group my-3">
                                                                            Nombre
                                                                            {{editform.nombre}}
                                                                        </div>

                                                                        <div class="form-group my-3">
                                                                            Apellido
                                                                            {{editform.apellido}}
                                                                        </div>


                                                                        <div class="form-group my-3"><span class="text-danger">*</span>
                                                                            Email
                                                                             {{ editform.email }}
                                                                             <div class="text-danger w-100 d-block mt-1">
                                                                                {{ editform.email.errors }}
                                                                                </div>
                                                                        </div>
                                                                        


                                                                        <div class="form-group my-3">
                                                                          Teléfono  {{editform.telefono}}
                                                                        </div>
                                                                    </div>

                                                                    <div class="mb-3 col-6">
                                                                        <div class="avatar-upload">
                                                                        <div class="avatar-edit">
                                                                            {{ editform.avatar|attr:"type:file" }}
                                                                            <label for="id_avatar"><i class="fas fa-pencil-alt"></i></label>
                                                                        </div>
                                                                        <div class="avatar-preview">
                                                                                {% if editform.instance.avatar %}
                                                                                    <div id="imagePreview" style="background-image: url('{{ editform.instance.avatar.url }}');">
                                                                                {% else %}
                                                                                    <div id="imagePreview">
                                                                                {% endif %}
                                                                            </div>
                                                                        </div>
                                                                        <div class="text-danger w-100 d-block mt-1">
                                                                            {{ editform.avatar.errors }}     
                                                                        </div>                                   
                                                                    </div>

                                                                </div>


                                                               

                                                                <div class="row">
                                                                    <div class="mb-3 col-6">

                                                                        <div class="form-group my-3">
                                                                            Fecha de nacimiento
                                                                            {{editform.fecha_de_nacimiento}}

                                                                        </div>
                                                                    </div>
                                                                    <div class="mb-3 col-6">
                                                                        <div class="form-group my-3">
                                                                            Género
                                                                            {{editform.genero}}

                                                                        </div>

                                                                    </div>

                                                                    
                                                                    

                                                                    <div class="form-group my-3">
                                                                        Nota de información médica
                                                                        {{editform.nota}}
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>       
                
                                                        <div class="form-floating pt-4 my-3 d-flex flex-row-reverse">
                                                            <button type="submit" class="shadow-sm btn btn-secondary fs-3 " name="editusuario"><i class="fa-solid fa-floppy-disk pe-3"></i> Guardar cambios </button>

                                                            <a href="{% url 'dashboard:vivienda' pk=usuario.vivienda.pk %}" class="btn fs-7 mx-2">
                                                                <i class="fa-solid fa-arrow-left me-2 fs-7"></i> Volver
                                                            </a>
                                                        </div>
                
                                                    </div>
                                            </form>
                                            
                
                                           
                
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="tab-pane fade" id="contact">
                                    <div class="pt-4">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                       
                    </div>


                    

                    

                    
                </div>
                
            </div>
        </div>







{% endblock %}





{% block additional_js %}



<script>
    function readURL(input) {
 
       if (input.files && input.files[0]) {
             var reader = new FileReader();
             reader.onload = function(e) {
                $('#imagePreview').css('background-image', 'url('+e.target.result +')');
                $('#imagePreview').hide();
                $('#imagePreview').fadeIn(650);
             }
             reader.readAsDataURL(input.files[0]);
       }
    }
    $("#id_avatar").change(function() {
       readURL(this);
    });
 </script> 
 

<!-- NEWMODAL -->
<script>
    const deleteusuario = new bootstrap.Modal('#deleteusuario',   {keyboard: true}    )
</script>

{% endblock %}