{% extends 'layout/base.html' %}

{% load static %}

{% block additional_css %}
{% endblock %}

{% block content %}

<!-- modal delete vivienda -->
<div class="modal" id="deletevivienda{{vivienda.id}}">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center py-5">
                <h4 class="fs-2 my-2">Deleting {{vivienda.get_direccion}} de {{vivienda.alarma_vecinal}} permanently...</h4>
                <h4 class="fs-2 my-2">¿Are you sure?</h4>

                <div class="form-floating mt-5">
                    <a href="./" class="btn fs-7 mx-2">
                        <i class="fa-solid fa-arrow-left me-2 fs-7"></i> Nop, go back.
                    </a>
                    <a href="{% url 'dashboard:viviendadelete' pk=vivienda.id %}" class="shadow-sm btn btn-danger fs-6 p-3">
                        <i class="fa-regular fa-trash-can fs-5 me-1"></i> Yes!
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- MAIN -->


        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard:barrio' pk=vivienda.alarma_vecinal.id %}">{{vivienda.alarma_vecinal}}</a></li>

                <li class="breadcrumb-item active"><a href="{% url 'dashboard:vivienda' pk=vivienda.id %}"> {{vivienda.get_direccion}} </a> </li>
            </ol>
        </div>
       
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{vivienda}}</h3>
                        <div class="form-floating pt-4 my-3 d-flex flex-row-reverse">
                                                
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deletevivienda{{vivienda.id}}">Delete<span class="btn-icon-end">
                                <i class="fa-solid fa-trash fs-7"></i></span></button>
                        </div>
                                              
                    </div>
                    
                    <div class="card-body">

                        <div class="default-tab">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-bs-toggle="tab" href="#home"><i class="la la-user me-2"></i> INFORMACIÓN</a>
                                </li>
                                
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#contact"><i class="las la-comment-dollar me-2"></i>...</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="home" role="tabpanel">
                                    <div class="pt-4">
                                        <div class="basic-form">
                                            <form method="post">
                                                {% csrf_token %}
                                                    <div class="pt-1 pb-4">
                                                        <div class="formcontrol">         

                                                            <div class="form-floating mb-3">

                                                                
                                                                <input type="hidden" name="alarma_vecinal" value="{{ vivienda.alarma_vecinal.id }}">
        
                                                                              
                                        
                                                                <div class="form-group my-3">
                                                                    {{editform.calle}}
                                                                </div>

                                                                <div class="form-group my-3">
                                                                    {{editform.numero}}
                                                                </div>

                                                                <div class="form-group my-3">
                                                                    {{editform.departamento}}
                                                                </div>


                                                                <div class="form-group my-3">
                                                                    {{editform.municipio}}
                                                                </div>



                                                                <div class="form-group my-3">
                                                                    
                                                                    {{editform.provincia}}
                                                                </div>

                                                                <div class="form-group my-3">
                                                                    {{editform.altitud}}
                                                                </div>



                                                                <div class="form-group my-3">
                                                                    
                                                                    {{editform.latitud}}
                                                                </div>
                                                                <div class="form-group my-3">
                                                                    {{editform.nota}}
                                                                </div>



                                                                
                                                            </div>
                                                        </div>       
                
                                                        <div class="form-floating pt-4 my-3 d-flex flex-row-reverse">
                                                            <button type="submit" class="shadow-sm btn btn-secondary fs-3 " name="editvivienda"><i class="fa-solid fa-floppy-disk pe-3"></i> Guardar cambios </button>

                                                           

                                                            <a href="{% url 'dashboard:barrio' pk=vivienda.alarma_vecinal.pk %}" class="btn fs-7 mx-2">
                                                                <i class="fa-solid fa-arrow-left me-2 fs-7"></i> Volver
                                                            </a>
                                                        </div>
                
                                                    </div>
                                            </form>
                                            
                
                                           
                
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="tab-pane fade" id="contact">
                                    <div class="pt-4">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                       
                    </div>


                    

                    

                    
                </div>
                
            </div>
        </div>







{% endblock %}





{% block additional_js %}


<!-- NEWMODAL -->
<script>
    const deletevivienda = new bootstrap.Modal('#deletevivienda',   {keyboard: true}    )
</script>

{% endblock %}